.header {
  display: flex;
}

.default-project-img {
  display: block;
  width: 12em;
  height: 12em;
  border: 3px solid #091D34;
  margin: 10px;
}

.title {
  font-size: 5em;
  padding: 30px 0 0 60px;
}

.complete {
  margin: 20px 0 20px 0;
  font-size: 1.7em;
  text-shadow: 1px 1px #236AB9;
  color: #FC7307;
}

.aside {
  width: 12em;
  height: fit-content;
  padding: 15px;
  margin-left: 10px;
  float: left;
  background-color: antiquewhite;
  border-radius: 15px;
  border: solid 3px #236AB9;
  box-shadow: 10px 10px 5px #7f98b6;
}

.project-type {
  font-size: 25px;
  margin-bottom: 10px;
  text-decoration-line: underline;
}

.budget {
  margin-top: 10px;
  font-size: 20px;
}

.finalcost {
  font-size: 20px;
  color: red;
}

.details {
  background-color: antiquewhite;
  border-radius: 15px;
  border: solid 3px #236AB9;
  box-shadow: 10px 10px 5px #7f98b6;
  width: 50%;
  margin-left: 250px;
  padding: 10px;
}

.details-header {
  display: flex;
  justify-content: space-between;
}

.edit-icon {
  color: #FC7307;
}

.edit {
  margin-bottom: 10px;
  font-size: 14px;
  color: #236AB9
}

.edit:hover {
  color: #FC7307;
}

.description {
  padding-left: 10px;
}

.description-title {
  text-decoration-line: underline;
}