.estimate-section {
    background-color: antiquewhite;
    border-radius: 15px;
    border: solid 3px #236AB9;
    box-shadow: 10px 10px 5px #7f98b6;
    width: 40%;
    margin: 30px 0 15px 250px;
    padding: 10px
}

.estimate-header {
    display: flex;
    justify-content: space-between;
}

.estimate-title {
    margin-bottom: 13px;
    text-decoration-line: underline;
}

.estimate-contractor {
    color: #236AB9;
    padding-left: 4px;
    padding-right: 4px;
}

.estimate-contractor:hover {
    color: #FC7307;
}

.add-estimate {
    font-size: 14px;
    margin-top: 7px;
    color: #236AB9;
}

.add-estimate:hover {
    color: #091D34;
}

.icon-link {
    margin-bottom: 7px;

}

.estimate-icon {
    color: darkgreen;
}

.add-my-contractor {
    font-size: 13px;
    margin: 0 5px 3px 15px;
    color: darkgreen;
}

.estimate-edit {
    font-size: 13px;
    margin: 0 5px 3px 5px;
    color: #FC7307;
}

.estimate-delete {
    font-size: 13px;
    margin: 0 5px 3px 5px;
    color: darkred;
}