.estimateForm {
    padding-top: 4em;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.add-estimate-title,
.edit-estimate-title {
    font-size: 3em;
    margin-bottom: .5em;
    font-family: 'Cabin Sketch', cursive;
}

.estimate-form-btn,
.editEst-form-btn {
    display: flex;
    gap: 15px;
    padding-bottom: 8em;
}

.estimate-btn {
    border-radius: 10px;
    border: 2px solid #091D34;
    background-color: #FC7307;
    color: #091D34;
}

.estimate-btn:hover {
    border: 2px solid #236AB9;
}