.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #091D34;
}

.navbar-item {
    /* flex-basis: 30%; */
    list-style-type: none;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navbar-title {
    font-size: 3em;
    text-decoration-line: underline;
    padding-left: 115px;
    color:#FC7307;
}

.navbar-link {
    color: #FC7307;
}

.navbar-link:hover {
    color: #236AB9;
}